In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [39]:
input_combined_df = r'../data/preprocessing/combined_postings.pickle'
input_text_liwc = r'../data/preprocessing/text_liwc'
input_text_pid = r'../data/preprocessing/text_pid'
output = r'../data/preprocessing/combined_postings_final.pickle'

In [24]:
df_combined = pd.read_pickle(input_combined_df)

In [27]:
liwc_output = pd.read_csv(input_text_liwc, sep='\t')
pids = pd.read_csv(input_text_pid, names=["pid_liwc"], dtype={'pid_liwc': np.int64}, sep='\t')

In [28]:
liwc_combined = pd.concat([liwc_output.reset_index(drop=True),pids.reset_index(drop=True)], axis=1)

In [29]:
liwc_combined.head()

   13  16  17  18  19  31  200  number_tokens    pid_liwc
0   0   0   0   0   0   8    1             28  1064710786
1   0   0   0   0   0   0    0              9  1064724063
2   0   1   0   0   1   1    0              8  1064712838
3   0   0   0   0   0   1    0              4  1064708391
4   0   0   0   0   0   0    0              5  1064707195

In [30]:
len(liwc_combined)

9214323

In [31]:
len(df_combined)

9214323

In [32]:
len(liwc_combined) == len(df_combined)

True

In [33]:
df = pd.concat([df_combined.reset_index(drop=True),liwc_combined.reset_index(drop=True)], axis=1)

In [34]:
df.head()

,oid,rid,pid,ppid,cd,cn,o,vp,vn,hl,...,allText,13,16,17,18,19,31,200,number_tokens,pid_liwc
0,2000122865130,1000213648,1064710786,NaN,2020-12-31T20:04:57.643+01:00,unmo,NaN,4,0,Herr Bundespräsident,...,Herr Bundespräsidentnach Artikel 70 B-VG könne...,0,0,0,0,0,8,1,28,1064710786
1,2000122865130,1000213648,1064724063,1.064711e+09,2021-01-01T06:00:14.35+01:00,Art10 EMRK,NaN,2,0,NaN,...,Der Flash wird noch eine weitere Amtszeit dafü...,0,0,0,0,0,0,0,9,1064724063
2,2000122865130,1000213648,1064712838,1.064711e+09,2020-12-31T20:57:02.017+01:00,it's my life,NaN,2,0,NaN,...,Das ist wahrscheinlich sogar unserem HBP zu pe...,0,1,0,0,1,1,0,8,1064712838
3,2000122865130,1000213648,1064708391,NaN,2020-12-31T19:09:04.76+01:00,it's my life,NaN,3,0,NaN,...,Ausnahmegesetze für unseren Ausnahmenkanzler ...,0,0,0,0,0,1,0,4,1064708391
4,2000122865130,1000213648,1064707195,NaN,2020-12-31T18:43:57.973+01:00,sumac trebla,NaN,3,0,Anschober will...,...,Anschober will...Anschober kann aber nicht.,0,0,0,0,0,0,0,5,1064707195

In [40]:
df['cd'] = pd.to_datetime(df['cd'])

In [41]:
df.tail()

,oid,rid,pid,ppid,cd,cn,o,vp,vn,hl,...,allText,13,16,17,18,19,31,200,number_tokens,pid_liwc
9214318,2000122865130,1000213700,1064719053,NaN,2021-01-01 00:02:32.510000+01:00,mischievous red zashiki-warashi,chaotic causality conductor,0,0,NaN,...,Prosit Neujahr!\r\n\r\n\r\nPyrotechnikdichte W...,0,0,0,0,0,0,0,4,1064719053
9214319,2000122865130,1000213700,1064719052,NaN,2021-01-01 00:02:31.993000+01:00,Kael Drakkal,I have to praise you like I should,5,0,NaN,...,des wird mei jahr!\r\n\r\nda wird ma alles gel...,0,0,0,0,0,0,0,16,1064719052
9214320,2000122865130,1000213700,1064719099,1.064719e+09,2021-01-01 00:04:46.600000+01:00,Ceroshl,Hob nur gschaut,0,0,NaN,...,Wozu haarwuchs am Kopf wennst eh ne Frau hast?,0,0,0,0,0,1,0,9,1064719099
9214321,2000122865130,1000213700,1064719062,1.064719e+09,2021-01-01 00:03:14.047000+01:00,mischievous red zashiki-warashi,chaotic causality conductor,2,0,NaN,...,So möge es geschehen. Prosit!,0,0,0,0,0,1,0,5,1064719062
9214322,2000122865130,1000213700,1064719047,NaN,2021-01-01 00:02:12.317000+01:00,Rundmaul,NaN,2,0,NaN,...,"Es ist vollbracht. Eine einzige Enttäuschung, ...",1,1,0,0,1,2,0,12,1064719047

In [42]:
df.to_pickle(output)

In [73]:
input_metadata_year20 = r'../data/preprocessing/metadata_year20'
input_liwc_year20 = r'../data/preprocessing/text_liwc_year20'
input_text_year20 = r'../data/preprocessing/text_year20'
output_year20 = r'../data/preprocessing/year_20_final.pickle'

In [74]:
liwc_year_20 = pd.read_csv(input_liwc_year20, sep='\t')
liwc_year_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1366347 entries, 0 to 1366346
Data columns (total 8 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   13             1366347 non-null  int64
 1   16             1366347 non-null  int64
 2   17             1366347 non-null  int64
 3   18             1366347 non-null  int64
 4   19             1366347 non-null  int64
 5   31             1366347 non-null  int64
 6   200            1366347 non-null  int64
 7   number_tokens  1366347 non-null  int64
dtypes: int64(8)
memory usage: 83.4 MB

In [75]:
metadata_year20 = pd.read_csv(input_metadata_year20, parse_dates=['timestamp'])
metadata_year20.head()

,postid,parentid,communityidentityid,communityname,timestamp,followers,ratings_pos,ratings_neg
0,1049061634,NaN,552163.0,Zornica,1579516469,12.0,0,2
1,1049075891,1.049075e+09,170029.0,Plus Lucis,1579545033,49.0,21,1
2,1049076693,1.049076e+09,603017.0,Robin55,1579546947,7.0,0,19
3,1049079664,1.049077e+09,21668.0,Bobostandard,1579552601,0.0,6,0
4,1049078739,1.049077e+09,NaN,NaN,1579550827,NaN,0,0

In [76]:
text_year20 = pd.read_csv(input_text_year20, names=['fullText'])
text_year20.head()

                                            fullText
0  Katastrophales Hygienebewusstsein + massive Be...
1  Sie sind wahrscheinlich auch jemand, der sich ...
2  TjaDann sind "Leute wie ich" offenbar in der M...
3  Na, seien wir froh, dass über Seuchenpräventio...
4  Deswegen schaut's heute auch so aus auf der Welt.

In [77]:
df_year20 = pd.concat([metadata_year20.reset_index(drop=True), text_year20.reset_index(drop=True), liwc_year_20.reset_index(drop=True)], axis=1)
df_year20.index = pd.to_datetime(df_year20['timestamp'], unit='s')
df_year20.head()

,postid,parentid,communityidentityid,communityname,timestamp,followers,ratings_pos,ratings_neg,fullText,13,16,17,18,19,31,200,number_tokens
timestamp,,,,,,,,,,,,,,,,,
2020-01-20 10:34:29,1049061634,NaN,552163.0,Zornica,1579516469,12.0,0,2,Katastrophales Hygienebewusstsein + massive Be...,0,0,0,0,0,0,0,13
2020-01-20 18:30:33,1049075891,1.049075e+09,170029.0,Plus Lucis,1579545033,49.0,21,1,"Sie sind wahrscheinlich auch jemand, der sich ...",3,5,1,2,2,15,1,102
2020-01-20 19:02:27,1049076693,1.049076e+09,603017.0,Robin55,1579546947,7.0,0,19,"TjaDann sind ""Leute wie ich"" offenbar in der M...",0,0,0,0,0,2,0,14
2020-01-20 20:36:41,1049079664,1.049077e+09,21668.0,Bobostandard,1579552601,0.0,6,0,"Na, seien wir froh, dass über Seuchenpräventio...",2,0,0,0,0,1,0,11
2020-01-20 20:07:07,1049078739,1.049077e+09,NaN,NaN,1579550827,NaN,0,0,Deswegen schaut's heute auch so aus auf der Welt.,0,0,0,0,0,0,1,9

In [78]:
df_year20.to_pickle(output_year20)