In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import glob
import nltk
import re
import csv

In [17]:
# global variables
liveticker_folderpath = r'../data/livetickers_2020to25_2021'
coronoacovid_postings_path = r'../data/coronacovid_postings_year20'
selected_months = [r'07_20', r'08_20', r'09_20']
liwc_anger_path = r'../data/liwc_german_2007_anger'

output_df = r'../data/preprocessing/combined_postings.pickle'
output_text_file = r'../data/preprocessing/text'
output_text_pid_file = r'../data/preprocessing/text_pid'

Read Livetickers:

In [ ]:
all_files = glob.glob(os.path.join(liveticker_folderpath, '*'))
# remove empty files
all_files = list(filter(lambda f: os.stat(f).st_size > 0, all_files))
# filter for postings files
all_files_postings = list(filter(lambda k: 'postings' in k, all_files))
#df = pd.concat((pd.read_table(f, error_bad_lines=False, warn_bad_lines=False, engine='python') for f in all_files_postings))
colNames = ["oid","rid","pid","ppid","cd","cn","o","vp","vn","hl","tx"]
df = pd.concat((pd.read_csv(filename, sep='\t', names=colNames, skiprows=1, quoting=csv.QUOTE_NONE, encoding='utf-8') for filename in all_files_postings))
#low_memory=False

#for filename in all_files_postings: 
#    print(filename)
#    df = pd.read_csv(filename, sep='\t', names=colNames, quoting=csv.QUOTE_NONE, encoding='utf-8')
#    print(df.columns)

In [ ]:
df.columns

In [ ]:
df['pid'].isna().values.any()

In [ ]:
df['allText'] = df['hl'].fillna('') + df['tx'].fillna('')
df['allText'].isna().values.any()

In [ ]:
len(df['allText'])

In [ ]:
len(df['pid'])

In [ ]:
len(df['allText']) == len(df['pid'])

In [ ]:
df.to_pickle(output_df)

In [ ]:
df['allText'].to_csv(output_text_file, header=False, index=False)

In [ ]:
df['pid'].to_csv(output_text_pid_file, header=False, index=False)

In [ ]:
df.info()

In [ ]:
df.head()

In [30]:
all_text_files = []
for month in selected_months:
    all_text_files.extend(glob.glob(os.path.join(os.path.join(coronoacovid_postings_path, month), '*_text')))

df_postings_year20 = pd.concat((pd.read_csv(filename, sep='\t', names=['title', 'text'], skiprows=1, quoting=csv.QUOTE_NONE, encoding='utf-8') for filename in all_text_files))
df_postings_year20.head()

                     title                                               text
0                      NaN  Wer es nicht schafft, seine zusätzl. Einnahmeq...
1  Einfach nur ärgerlich !  Da haben sich Leute die super risikolose Anlag...
2           Habe im Umfeld  allen v. VorSorge Whg. abgeraten, wer kann 20-...
3                      NaN  Null Mitleid. Wer einen Kredit aufnimmt um spä...
4                      NaN  Gestörtes Verhältnis zur privaten Altersvorsorge.

In [38]:
df_postings_year20['allText'] = df_postings_year20['title'].fillna('') + df_postings_year20['text'].fillna('')
df_postings_year20['allText'].to_csv(r'../data/preprocessing/text_year20', header=False, index=False)

In [35]:
all_metadata_files = []
for month in selected_months:
    all_metadata_files.extend(glob.glob(os.path.join(os.path.join(coronoacovid_postings_path, month), '*_metadata')))

meta_data_colnames = ['postid', 'parentid', 'communityidentityid', 'communityname', 'timestamp', 'followers', 'ratings_pos', 'ratings_neg']
df_postings_metadata_year20 = pd.concat((pd.read_csv(filename, sep='\t', names=meta_data_colnames, skiprows=1, quoting=csv.QUOTE_NONE, encoding='utf-8') for filename in all_metadata_files))
df_postings_metadata_year20.head()

,postid,parentid,communityidentityid,communityname,timestamp,followers,ratings_pos,ratings_neg
0,1056125904,NaN,539169.0,Kombucha-Jünger,1593592870,4.0,34,2
1,1056125857,NaN,205308.0,Peter G,1593592830,4.0,33,1
2,1056127459,1.056126e+09,124237.0,KammerlExperte,1593594324,7.0,4,0
3,1056125788,NaN,29311.0,cash cow1,1593592759,4.0,19,8
4,1056128086,1.056126e+09,589198.0,diestandarte.at,1593594905,8.0,5,6

In [37]:
df_postings_metadata_year20.to_csv(r'../data/preprocessing/metadata_year20', index=False)